@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-height: 100%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

nav {
  height: 10vh;
}

.flex {
  display: flex;
}

.direction-row {
  flex-direction: row;
}

.direction-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-space-evenly {
  justify-content: space-evenly;
}
.align-center {
  align-items: center;
}
.profile-main-container {
  /* background-color: aquamarine; */
  width: 40vw;
  height: 100vh;
  /* border: 5px solid red; */
  margin-right: 30px;
}

.profile-container {
  height: 40vw;
}
.team-container {
  /* background-color: coral; */
  height: 20vh;
}

.team-main-container {
  /* background-color: blanchedalmond; */
  width: 50%;
  /* border: 5px solid red; */
}

.team-members-container img {
  height: 70px;
}

.profile-info-container {
  /* background-color: darkgray; */
  height: 30vh;
}

.profile-info {
  height: 120px;
  width: 200px;
  background-color: red;
  border-radius: 10px;
  color: white;
  padding: 5px;
}

.button {
  height: 30px;
  width: 60px;
  background-color: red;
  line-height: 30px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.team-members-container {
  /* min-height: 33.33vh; */
  width: 60vw;
}
.team-holder {
  height: 33.33vh;
}
.kalvian {
  min-height: 80px;
  min-width: 80px;
  background-color: red;
  margin: 3px;
  border-radius: 5px;
}

.wrap {
  flex-wrap: wrap;
}

/* .team-container {
  max-width: 50vw;
} */

.balance-container-main {
  width: 50vw;
}

.team {
  height: 100px;
}

.sell {
  cursor: pointer;
}

.team-members-container img {
  border-radius: 10px;
}

#profile-info {
  width: 40vw;
}

#main-image {
  border-radius: 10px;
}

/* pop-up */

.pop-up {
  /* display: none; */
  height: 400px;
  width: 400px;
  background-color: red;
  position: absolute;
  top: 30%;
  left: 40%;
  line-height: 100px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
